*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body-content{
    background-image: url(/imgs/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.brand{
    max-width: 5rem;
}

li a{
    text-decoration: none;
    margin: 1rem;
    color: black;
}

li a:hover{
    color: chartreuse;
}
.navbar-brand{
    font-size: 4rem;
}

/* showcase  */

.showcase{
    background: rgba(102, 102, 104, 0.6);
}
button,
input{
    border-radius: 20px;
    padding: 0 1rem;
}
.search{
    margin: 1rem; 
}
.btn{
    margin: 1rem;
}
.showcase-items{
    align-items: center;
    text-align: center;
}

.d-flex{
    border: chocolate 1px solid;
    border-radius: 20px;
}
.heading{
    text-align: center;
    margin: 1rem 0;
}
.product-description{
    margin:0 auto;
}
.number{
    position: relative;
    width: 5%;
    height: 5%;
    padding: auto;
    text-align: center;
    align-items: center;
    margin:0 auto;
}
.product1{
    background-color:green;
    color: white;
}
.product2{
    background-color: red;
    color: white;
}
.product3 {
    background-color:blue;
    color: white;
}
.product4 {
    background-color: green;
    color: white;
}
/* Footer  */


.mailing-list input{
    margin:0;
}
.mailing-list button{
    margin: 0;
}
.social-icons .bi{
    font-size: 2.5rem;
    color: white;
    margin: 1rem 1rem 1rem 0;
}

input:focus{
    border: none;
}